{% extends "accounts/base.html" %}
{%block title%} Login - IBANK {%endblock%}


{% block content %}
<body>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-4 login-card">

        <h4 class="text-center mb-4 fw-bold">Sign In</h4>
        {% if form.non_field_errors %}
        <small class="text-danger">
            {{ form.non_field_errors.as_ul }}
        </small>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>

            <div class="mb-2">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <small class="text-muted">
                    Must be 8–20 characters long
                </small>
            </div>

            <div class="d-flex justify-content-between align-items-center my-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember">
                    <label class="form-check-label" for="remember">
                        Remember me
                    </label>
                </div>
            </div>

                <div class="mb-3">
                    <a href="#" class="text-decoration-none">Forgot password?</a>
                </div>


            <button type="submit" class="btn btn-dark">
                Sign In
            </button>

                <p class="text-center">
                    Don’t have an account?
                    <a href="{% url 'register' %}" class="text-decoration-none">Sign Up</a>
                </p>

        </form>

    </div>
</div>
</body>
{% endblock %} 
